<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konspiracy</title>
</head>

<body>
    <div id="time"></div>
   <h1> Welcome <%- user %></h1>
    <div id="quiz-container" style="display: none;">
        <h2 id="quiz-title"></h2>
        <div id="questions"></div>
    </div>
    <p id="waiting-message">Waiting for the teacher to start the game...</p>
    <script src="/socket.io/socket.io.js"></script>
     <!-- Makes it so its waiting for the socket to emit to direct them to the quiz page to start -->
    <script>
        const socket = io();
        socket.on('game-started', (data) => {
            console.log('Game started:', data);
            window.location.href = '/quiz';
        });
    </script>
</body>

</html>